header {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    .headline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        z-index: 2;
        color: $white;
        text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    }
    &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    ul {
        display: inline;
        a {
            font-weight: bold;
            &:not(:last-child) {
                margin-right: 3rem !important;
            }
            img {
                width: 3rem;
                margin-right: 0.5rem;
                margin-bottom: -0.7rem;
            }
            li {
                display: inline;
            }
        }
    }
}
