html {
    font-size: 62.5%;
    background: rgba(180, 93, 136, 1);
}

body {
    font-family: "Give You Glory", cursive;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg-animation 60s ease 0.1s infinite;
    background: rgba(180, 93, 136, 1);
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(
            150deg,
            transparent 5%,
            rgba(0, 0, 0, 0.8) 80%
        );
    }
    @media (max-width: $breakpoint-lg) {
        padding: 0 1.5rem;
    }
    @media (max-width: $breakpoint-md) {
        padding: 1.5rem;
    }
}

@keyframes bg-animation {
    0% {
        background-color: rgba(180, 93, 136, 1);
    }
    50% {
        background-color: rgba(2, 84, 186, 1);
    }
    75% {
        background-color: rgba(148, 136, 202, 1);
    }
    100% {
        background-color: rgba(180, 93, 136, 1);
    }
}

p,
address p,
address,
p abbr,
ul,
ul li,
ol li,
a {
    font-size: 2.2rem;
    @media (max-width: $breakpoint-md) {
        font-size: 2rem;
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 1.8rem;
    }
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 3rem;
    font-weight: bold;
}

h1 {
    font-size: 8rem;
    @media (max-width: $breakpoint-md) {
        font-size: 6rem;
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 4rem;
    }
}
h2 {
    font-size: 6rem;
    @media (max-width: $breakpoint-md) {
        font-size: 4rem;
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 3rem;
    }
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2rem;
}

a {
    &,
    &:link,
    &:visited {
        @include default-transition;
        color: $white;
    }
    &:hover {
        color: lighten($white, 10%);
        text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
    }
}

header {
    &.headline-intro {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 95vh;
        @media (max-width: $breakpoint-sm) {
            align-items: flex-start;
        }
    }
    &.internal-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5rem 0 0 0;
        @media (max-width: $breakpoint-md) {
            padding: 2.5rem 0 0 0;
        }

        nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            @media (max-width: $breakpoint-md) {
                flex-direction: column;
                .social-links {
                    margin-top: 2rem;
                }
            }
            li {
                display: inline;
                a {
                    &:not(:last-child) {
                        margin-right: 3rem;
                        @media (max-width: $breakpoint-sm) {
                            margin-right: 1.5rem;
                        }
                    }
                }
            }
            .headline {
                font-size: 4.8rem;
                font-weight: bold;
                @media (max-width: $breakpoint-sm) {
                    font-size: 4rem;
                }
            }
        }
    }

    .headline-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 2;
        color: $white;
        text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.social-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.social-links {
    a {
        &,
        &:link,
        &:visited {
            transition: all 0.2s ease;
            border-radius: 2rem;
            font-weight: bold;
            &:not(:last-child) {
                margin-right: 3rem;
                @media (max-width: $breakpoint-sm) {
                    margin-right: 1.5rem;
                }
            }
            li {
                z-index: 2;
                position: relative;
                display: inline;
                &::before {
                    transition: ease all 0.2s;
                    content: "";
                    height: 0.4rem;
                    bottom: 0.5rem;
                    position: absolute;
                    background: transparent;
                    width: 0%;
                    border-radius: 1rem;
                }
            }
        }
        &:hover {
            li {
                &::before {
                    width: 100%;
                    background: linear-gradient(
                        150deg,
                        rgba(255, 255, 255, 0.8) 20%,
                        rgba(255, 0, 0, 1) 80%
                    );
                }
            }
        }
    }
}

.gallery-area {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    --borderSize: 1rem;
    --imgScale: 1.05;
    .gatsby-image-wrapper {
        @include default-transition;
        border: var(--borderSize) rgba($white, 0.8) solid;
        backface-visibility: hidden;
        z-index: 2;
        overflow: inherit;
        &:hover {
            transform: scale(var(--imgScale));
            border: var(--borderSize) rgba($white, 1) solid;
        }
        &:nth-child(4) {
            grid-row: span 3;
        }
        &:nth-child(5) {
            grid-row: span 2;
        }
        &:nth-child(6) {
            grid-column: span 2;
            grid-row: span 4;
        }
    }
    @media (max-width: $breakpoint-md) {
        padding: 3.5rem 0;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        .gatsby-image-wrapper {
            --borderSize: 0.5rem;
            --imgScale: 1.02;
        }
    }
    @media (max-width: $breakpoint-sm) {
        grid-template-columns: auto;
        .gatsby-image-wrapper {
            &:nth-child(2) {
                grid-column: span 2;
            }
            &:nth-child(4) {
                grid-column: span 2;
            }

            &:nth-child(6) {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

.fallback-area {
    color: $white;
    text-align: center;
    padding: 10rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-lg) {
        justify-content: space-around;
    }
    @media (max-width: $breakpoint-md) {
        flex-direction: column-reverse;
        align-items: center;
        p {
            margin-bottom: 1.5rem;
        }
    }
    color: $white;
    height: 5vh;
    p,
    a {
        font-size: 1.6rem;
    }
}
