.ReactModal {
  &__Body {
    &--open {
      overflow: hidden;
    }
  }

  &__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
    opacity: 0;
    @include default-transition;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }

  &__Content {
    padding: 0 !important;
    background: transparent !important;
    inset: unset !important;
    border: unset !important;
    top: 50% !important;
    left: unset !important;
    bottom: unset !important;
    max-height: 100vh;
    width: 100vw;
    transform: translateY(-50%);

    &--image-wrapper {
      max-height: 100vh !important;
    }

    &--close {
      @include default-transition;
      box-shadow: 0.1rem 0.1rem 0.1rem rgba($general-bg-color, 0.5);
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.4rem;
      background-color: rgba($general-bg-color, 0.3);
      color: $white;
      border: 0.1rem solid rgba($white, 0.75);
      padding: 1rem 2rem;
      border-radius: 0.4rem;

      &:focus {
        outline: unset;
      }
      &:hover {
        color: rgba($white, 0.75);
        border: 0.1rem solid rgba($white, 0.5);
      }
    }
  }
}
