$bulma-desktop: 960px;
$bulma-widescreen: 1152px;
$bulma-fullhd: 1344px;

$header-colour: rgba(33, 33, 33, 1);
$text-colour: rgba(97, 97, 97, 1);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colour palette
$main-colour: #1a69b8;
$second-colour: #568dc3;
$third-colour: #192838;
$fourth-colour: #134c85;
$fifth-colour: #082038;
$white: #ffffff;
