$header-colour: rgba(33, 33, 33, 1);
$text-colour: rgba(97, 97, 97, 1);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$white: #ffffff;
$general-bg-colour: #ebecf0;
